/* Enter your custom styles here */
.sapUiPaddingTitle {
    height: 1rem !important;
    padding-top: 0.09rem;
}

/* .sapMInputBaseContentWrapper {
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #000;
} */