/* #__xmlview0--deleteButtonId-inner {
 width: 100%;
 padding-left: 1200px;
} */

/* .sapUiIcon::before {
    padding-left: 5px;
} */

.deleteButtonId {
    width: 100% !important; 
    padding-left: 1200px !important;
}

.backColor {
    background-color: red !important;
}