/* Enter your custom styles here */
.sapUiPaddingTitle {
    height: 1rem !important;
    padding-top: 0.09rem;
}

.customDateColor {
    color: #20B2AA !important;
}

.customFontSizeForDate {
    font-size: 1rem !important;
}

.customHoursSize{
    font-size: 2rem !important;
    font-weight: bold !important;
}

